<header class="header">
<div class="navigation">
<!-- <link rel="stylesheet" href="/Documents/GitHub/small0live.github.io/assets/vendor/academicicons-1.9.4/css/academicons.min.css"/> -->

<!-- <link rel="stylesheet" src="{{ '/assests/vendor/academicicons-1.9.4/css/academicons.min.css' | prepend: site.baseurl }}"/> -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MND6L8MX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

<a href="{{ '/' | prepend: site.baseurl }}" class="logo">{{ site.title }}</a>
<ul class="menu">
<li class="menu__entry"><a href="{{ '/cv' | prepend: site.baseurl }}">CV</a></li>
<li class="menu__entry"><a href="{{ '/Research' | prepend: site.baseurl }}">Research</a></li>
<li class="menu__entry"><a href="{{ '/Teaching' | prepend: site.baseurl }}">Teaching</a></li>
<!-- <li class="menu__entry"><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li> -->
</ul>
</div>
<ul class="social-links">
{% if site.author.email %}
<a href="mailto:{{ site.author.email }}" class="social-links__entry" target="_blank">
<i class="fa fa-envelope-square"></i>
</a>
{% endif %}
{% if site.author.scholar %}
<a href="https://scholar.google.com/citations?user={{ site.author.scholar }}" class="social-links__entry" target="_blank">
<i class="ai ai-google-scholar-square"></i>
</a>
{% endif %}
{% if site.author.github %}
<a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
<i class="fa fa-github"></i>
</a>
{% endif %}
{% if site.author.linkedin %}
<a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
<i class="fa fa-linkedin"></i>
</a>
{% endif %}
</ul>
</header>